
#map {
    position: fixed;
    top: 25%;
    left: 0;
    height: 50%;
    width: 100%;
    z-index: 0;
    background-color: blue;
}

#btn {
    position: fixed;
    bottom: 15%;
    left: 30%;
    height: 25%;
    width: 35%;
}

#icon {
    padding: 10px 10px;
}